@import "../../../styles";
.primary-border {
    border: 1px solid mat-color($primary-palette);
    border-radius: 20px;
}

.clickable {
    cursor: pointer;
}

.not-clickable {
    cursor: unset !important;
}
