.padding-tiny {
    padding: $size-tiny !important;
  }
  
  .padding-smallest {
    padding: $size-smallest !important;
  }
  
  .padding-small {
    padding: $size-small !important;
  }
  
  .padding-medium {
    padding: $size-medium !important;
  }
  
  .padding-large {
    padding: $size-large !important;
  }
  
  .padding-largest {
    padding: $size-largest !important;
  }
  
  .padding-huge {
    padding: $size-huge !important;
  }
  
  .padding-left-tiny {
    padding-left: $size-tiny !important;
  }
  
  .padding-left-smallest {
    padding-left: $size-smallest !important;
  }
  
  .padding-left-small {
    padding-left: $size-small !important;
  }
  
  .padding-left-medium {
    padding-left: $size-medium !important;
  }
  
  .padding-left-large {
    padding-left: $size-large !important;
  }
  
  .padding-left-largest {
    padding-left: $size-largest !important;
  }
  
  .padding-left-huge {
    padding-left: $size-huge !important;
  }
  
  .padding-right-tiny {
    padding-right: $size-tiny !important;
  }
  
  .padding-right-smallest {
    padding-right: $size-smallest !important;
  }
  
  .padding-right-small {
    padding-right: $size-small !important;
  }
  
  .padding-right-medium {
    padding-right: $size-medium !important;
  }
  
  .padding-right-large {
    padding-right: $size-large !important;
  }
  
  .padding-right-largest {
    padding-right: $size-largest !important;
  }
  
  .padding-right-huge {
    padding-right: $size-huge !important;
  }
  
  .padding-horizontal-tiny {
    @extend .padding-left-tiny;
    @extend .padding-right-tiny;
  }
  
  .padding-horizontal-smallest {
    @extend .padding-left-smallest;
    @extend .padding-right-smallest;
  }
  
  .padding-horizontal-small {
    @extend .padding-left-small;
    @extend .padding-right-small;
  }
  
  .padding-horizontal-medium {
    @extend .padding-left-medium;
    @extend .padding-right-medium;
  }
  
  .padding-horizontal-large {
    @extend .padding-left-large;
    @extend .padding-right-large;
  }
  
  .padding-horizontal-largest {
    @extend .padding-left-largest;
    @extend .padding-right-largest;
  }
  
  .padding-horizontal-huge {
    @extend .padding-left-huge;
    @extend .padding-right-huge;
  }
  
  .padding-top-tiny {
    padding-top: $size-tiny !important;
  }
  
  .padding-top-smallest {
    padding-top: $size-smallest !important;
  }
  
  .padding-top-small {
    padding-top: $size-small !important;
  }
  
  .padding-top-medium {
    padding-top: $size-medium !important;
  }
  
  .padding-top-large {
    padding-top: $size-large !important;
  }
  
  .padding-top-largest {
    padding-top: $size-largest !important;
  }
  
  .padding-top-huge {
    padding-top: $size-huge !important;
  }
  
  .padding-bottom-tiny {
    padding-bottom: $size-tiny !important;
  }
  
  .padding-bottom-smallest {
    padding-bottom: $size-smallest !important;
  }
  
  .padding-bottom-small {
    padding-bottom: $size-small !important;
  }
  
  .padding-bottom-medium {
    padding-bottom: $size-medium !important;
  }
  
  .padding-bottom-large {
    padding-bottom: $size-large !important;
  }
  
  .padding-bottom-largest {
    padding-bottom: $size-largest !important;
  }
  
  .padding-bottom-huge {
    padding-bottom: $size-huge !important;
  }
  
  .padding-vertical-tiny {
    @extend .padding-top-tiny;
    @extend .padding-bottom-tiny;
  }
  
  .padding-vertical-smallest {
    @extend .padding-top-smallest;
    @extend .padding-bottom-smallest;
  }
  
  .padding-vertical-small {
    @extend .padding-top-small;
    @extend .padding-bottom-small;
  }
  
  .padding-vertical-medium {
    @extend .padding-top-medium;
    @extend .padding-bottom-medium;
  }
  
  .padding-vertical-large {
    @extend .padding-top-large;
    @extend .padding-bottom-large;
  }
  
  .padding-vertical-largest {
    @extend .padding-top-largest;
    @extend .padding-bottom-largest;
  }
  
  .padding-vertical-huge {
    @extend .padding-top-huge;
    @extend .padding-bottom-huge;
  }
  
  .margin-tiny {
    margin: $size-tiny !important;
  }
  
  .margin-smallest {
    margin: $size-smallest !important;
  }
  
  .margin-small {
    margin: $size-small !important;
  }
  
  .margin-medium {
    margin: $size-medium !important;
  }
  
  .margin-large {
    margin: $size-large !important;
  }
  
  .margin-largest {
    margin: $size-largest !important;
  }
  
  .margin-huge {
    margin: $size-huge !important;
  }
  
  .margin-left-tiny {
    margin-left: $size-tiny !important;
  }
  
  .margin-left-smallest {
    margin-left: $size-smallest !important;
  }
  
  .margin-left-small {
    margin-left: $size-small !important;
  }
  
  .margin-left-medium {
    margin-left: $size-medium !important;
  }
  
  .margin-left-large {
    margin-left: $size-large !important;
  }
  
  .margin-left-largest {
    margin-left: $size-largest !important;
  }
  
  .margin-left-huge {
    margin-left: $size-huge !important;
  }
  
  .margin-right-tiny {
    margin-right: $size-tiny !important;
  }
  
  .margin-right-smallest {
    margin-right: $size-smallest !important;
  }
  
  .margin-right-small {
    margin-right: $size-small !important;
  }
  
  .margin-right-medium {
    margin-right: $size-medium !important;
  }
  
  .margin-right-large {
    margin-right: $size-large !important;
  }
  
  .margin-right-largest {
    margin-right: $size-largest !important;
  }
  
  .margin-right-huge {
    margin-right: $size-huge !important;
  }
  
  .margin-horizontal-tiny {
    @extend .margin-left-tiny;
    @extend .margin-right-tiny;
  }
  
  .margin-horizontal-smallest {
    @extend .margin-left-smallest;
    @extend .margin-right-smallest;
  }
  
  .margin-horizontal-small {
    @extend .margin-left-small;
    @extend .margin-right-small;
  }
  
  .margin-horizontal-medium {
    @extend .margin-left-medium;
    @extend .margin-right-medium;
  }
  
  .margin-horizontal-large {
    @extend .margin-left-large;
    @extend .margin-right-large;
  }
  
  .margin-horizontal-largest {
    @extend .margin-left-largest;
    @extend .margin-right-largest;
  }
  
  .margin-horizontal-huge {
    @extend .margin-left-huge;
    @extend .margin-right-huge;
  }
  
  .margin-top-tiny {
    margin-top: $size-tiny !important;
  }
  
  .margin-top-smallest {
    margin-top: $size-smallest !important;
  }
  
  .margin-top-small {
    margin-top: $size-small !important;
  }
  
  .margin-top-medium {
    margin-top: $size-medium !important;
  }
  
  .margin-top-large {
    margin-top: $size-large !important;
  }
  
  .margin-top-largest {
    margin-top: $size-largest !important;
  }
  
  .margin-top-huge {
    margin-top: $size-huge !important;
  }
  
  .margin-bottom-tiny {
    margin-bottom: $size-tiny !important;
  }
  
  .margin-bottom-smallest {
    margin-bottom: $size-smallest !important;
  }
  
  .margin-bottom-small {
    margin-bottom: $size-small !important;
  }
  
  .margin-bottom-medium {
    margin-bottom: $size-medium !important;
  }
  
  .margin-bottom-large {
    margin-bottom: $size-large !important;
  }
  
  .margin-bottom-largest {
    margin-bottom: $size-largest !important;
  }
  
  .margin-bottom-huge {
    margin-bottom: $size-huge !important;
  }
  
  .margin-vertical-tiny {
    @extend .margin-top-tiny;
    @extend .margin-bottom-tiny;
  }
  
  .margin-vertical-smallest {
    @extend .margin-top-smallest;
    @extend .margin-bottom-smallest;
  }
  
  .margin-vertical-small {
    @extend .margin-top-small;
    @extend .margin-bottom-small;
  }
  
  .margin-vertical-medium {
    @extend .margin-top-medium;
    @extend .margin-bottom-medium;
  }
  
  .margin-vertical-large {
    @extend .margin-top-large;
    @extend .margin-bottom-large;
  }
  
  .margin-vertical-largest {
    @extend .margin-top-largest;
    @extend .margin-bottom-largest;
  }
  
  .margin-vertical-huge {
    @extend .margin-top-huge;
    @extend .margin-bottom-huge;
  }
  