$screen-width: 52rem; // TODO - accept as input parameter

$size-unit: 0.25rem;
$size-tiny: $size-unit;
$size-smallest: $size-unit * 2;
$size-small: $size-unit * 4;
$size-medium: $size-unit * 6;
$size-large: $size-unit * 8;
$size-largest: $size-unit * 10;
$size-huge: $size-unit * 12;
