<section class="form-section-panel">
    <app-help-icon-button>{{employeeInsuranceProductName}}</app-help-icon-button>
    <app-employee-calculation-panel [parentForm]="panelControl"></app-employee-calculation-panel>
</section>
<section class="panel-colors-lighter padding-vertical-small">
    <ng-container *ngIf="!isCitizenActive()">
        <app-add-section-button [action]="addOrRemoveCitizenSection">
            <span translate>steps.calculation.addCitizenInsurance</span>
        </app-add-section-button>
    </ng-container>
    <ng-container *ngIf="isCitizenActive()">
        <div fxLayout="column" class="panel-rounded-bright padding-small">
            <span fxLayout="row" fxLayoutAlign="space-between center">
                <app-help-icon-button>{{citizenInsuranceProductName}}</app-help-icon-button>
                <app-remove-section-button [action]="addOrRemoveCitizenSection">
                    <span translate>steps.calculation.removeCitizenInsurance</span>
                </app-remove-section-button>
            </span>
            <app-citizen-calculation-panel [parentForm]="panelControl"></app-citizen-calculation-panel>
        </div>
    </ng-container>
</section>
<section class="form-section-panel">
    <app-calculation-summary-panel [parentForm]="panelControl"></app-calculation-summary-panel>
</section>