:host ::ng-deep .mat-radio-inner-circle {
  display: none !important;
}

:host ::ng-deep .mat-radio-outer-circle {
  display: none !important;
}

:host ::ng-deep .mat-radio-container {
  display: none !important;
}

@import "./../../themes/green-theme.scss";

.rounded-box-shape {
  width: 15em;
  height: 12em;
  border: 0.2em solid $default-color;
  border-radius: 0.5em;
}

.rounded-box {
  @extend .rounded-box-shape;
  white-space: normal;
  color: $default-color;
}

.rounded-box:hover {
  background-color: $default-color;
  color: $bright-color;
}

.rounded-box-active {
  @extend .rounded-box-shape;
  background-color: $default-color;
  color: $bright-color;
  white-space: normal;
}
